@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');



:root{
    --primary:#0077b6;
    --secondary:#48cae4;
    --black:#333;
    --white:#fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
    
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size:1vw;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: .5rem;
}

section{
    padding: 5rem 7%;
}

.heading{
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--secondary);
}

/* header */

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo{
    font-size: 1.3vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: navy;
}

.header .logo img{
    width: 100px;;
    color: var(--primary);
    padding-right: .5vw;
}

.header .navbar a{
    font-size: 1.5vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: var(--primary);
}

.header .navbar .btn{
    margin-top: 0;
    color: var(--white);
}

.header .navbar .btn:hover{
    color: var(--white);
}

#menu-btn{
    display: none;
    font-size: 1.5vw;
    margin-left: 1.7vw;
    cursor: pointer;
    color: var(--black);
}

#menu-btn:hover{
    color: var(--primary);
}

/* end */

/* home */
.home{
    padding: 0;
}
.home .slide{
    background-image: url(img4.jpg);

    min-height: 100vh;
    margin-top: 5%;
    background-size: 80% 90% !important;
    background-repeat: no-repeat;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    
}

.home .slide .content{
    width: 80rem;
    text-align: center;
}

.home .slide .content h3{
    font-size: 4vw;
    text-transform: uppercase;
    color:white;

    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 5px rgb(73, 5, 161);
    line-height: 1.1;
    padding: 2rem 0;
}

.about .head{
    font-size: 3vw;
    color: #5F8295 !important;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;

}
.about .content{
    font-size: 2vw;
    color: #333;
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

iframe{
   margin-left: 13%;
}

.images .head{
    font-size: 4vw;
    color: #5F8295 !important;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    
}

.images .column {
    float: left;
 padding:5px;
 width: 30% ;
 box-sizing: border-box;

 
  }
 .images .column img{
    width: 100%;

    height: 60%;

    
  }
 .images .row::after {
    display: flex;
    clear: both;
    content: "";

  }
 .images .row {
    display: flex;
    justify-content: space-around;
  }
  
 .images .column{
    flex: 30%;
    max-width: 30%;

 }
 .images .button{
    background-color:white;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
margin-left: 35%;
font-family: 'Courier New', Courier, monospace;
font-size: 3rem;
 }  
 .images .button:hover{
    background-color:gray;
 }
 .images .button a{

color:black;
text-decoration: none;
}



.footer{
    margin-top: 5%;
    background: #d3d3d3;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: navy;
}

.footer .box-container .box a{
    font-size: 1.6rem;
    display: block;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--primary);
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color: var(--primary);
}

.footer .share{
    padding-top: 2rem;
    text-align: center;
}

.footer .share a{
    color: var(--primary);
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    border: .1rem solid var(--primary);
    margin: .3rem;
}

.footer .share a:hover{
    color: var(--white);
    background: var(--primary);
    transform: rotate(360deg);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, 0.3);
    color: var(--white);
}

.footer .credit span{
    color: var(--primary);
}
